* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.title {
    display: flex;
    gap: 30px;
    max-width: 233px;
    margin-left: 79px;
    align-items: center;
}
.title img{
    max-width: 50px;
}
body {
    background-color: #a3a3a3;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}